{% extends 'base.html' %}
{% block title %}Statistics{% endblock %}
{% block content %}

<h1 data-translate="statistics">Statistics</h1>
<form method="get" action="{% url 'main:statistics' %}">
    <label for="filter" data-translate="filter">Filter by date:</label>
    <select name="filter" id="filter">
        <option value="" data-translate="all">All</option>
        <option value="today" data-translate="today">Today</option>
        <option value="this_week" data-translate="week">This Week</option>
        <option value="this_month" data-translate="month">This Month</option>
    </select>
    <button type="submit" class="create-card-bt" data-translate="filter" > Apply</button>
</form>
<div class="statistics-container">
    <h2 data-translate="statistics_overview">Statistics Overview</h2>
    <div class="statistics-summary">
        <p><strong data-translate="used">Total Amount Used:</strong> $ {{ total_used }}</p>
        <p><strong data-translate="received">Total Amount Received:</strong> $ {{ total_received }}</p>
    </div>


    <div id="chart-container">
        <canvas id="statistics-chart"></canvas>
    </div>
</div>

{% endblock %}