{% extends 'base.html' %}

{% block title %} Transactions {% endblock %}

{% block content %}

<h1 data-translate="transactions">Transactions</h1>
<ul class="transaction-list">
    {% for trans in transaction %}
        <li class="transaction-item">
            <p><strong data-translate="amount">Amount:</strong> $ {{ trans.amount }}</p>
            <p><strong>Date:</strong> {{ trans.date }}</p>
            <p><strong data-translate="description">Description:</strong> {{ trans.description }}</p>
            {% if trans.image %}
                <img src="{{ trans.image.url }}" alt="Transaction image" />
            {% endif %}
            <div>
                <a href="{% url 'main:transaction_update' trans.pk %}" class="update-icon" title="Update">
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                </a>

            </div>
        </li>
    {% empty %}
        <li>No transactions available for this category.</li>
    {% endfor %}
</ul>
<a href="{% url 'main:transaction_create' %}" class="create-card-btn"><button data-translate="create_transaction">Create Transaction</button></a>
{% endblock %}