{% extends 'base.html' %}

{% block title %} Newest Transactions {% endblock %}

{% block content %}
<form method="get" action="{% url 'main:transaction_newest_list' %}">
    <label for="filter">Filter by date:</label>
    <select name="filter" id="filter">
        <option value="">All</option>
        <option value="today">Today</option>
        <option value="this_week">This Week</option>
        <option value="this_month">This Month</option>
    </select>
    <button type="submit" class="create-card-bt">Apply</button>
</form>

<h1 data-translate="transactions">Newest Transactions</h1>
<ul class="transaction-list">
    {% for trans in transactions %}
        <li class="transaction-item">
            <p><strong data-translate="amount">Amount:</strong> {{ trans.amount }}</p>
            <p><strong>Date:</strong> {{ trans.created_at }}</p>
            <p><strong data-translate="description">Description:</strong> {{ trans.description }}</p>
            {% if trans.image %}
                <img src="{{ trans.image.url }}" alt="Transaction image" />
            {% endif %}
            <div>
                <a href="{% url 'main:transaction_update' trans.pk %}" class="update-icon" title="Update">
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                </a>
            </div>

        </li>
    {% empty %}
        <li>No transactions available for this category.</li>
    {% endfor %}
</ul>
<a href="{% url 'main:transaction_create' %}" class="create-card-btn"><button data-translate="create_transaction">Create Transaction</button></a>



{% endblock %}