{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 data-translate="category_transition">Category transactions</h1>
    <ul class="category-transition-list">
        {% for transition in category_transition %}
            <li class="category-transition-item">
                <a href="{% url 'main:transaction_list' pk=transition.pk %}">
                    {{ transition.name }}
                </a>
            </li>
        {% empty %}
            <li class="category-transition-item">No category transitions available.</li>
        {% endfor %}
        <li class="category-transition-item"><a href="{% url 'main:transaction_newest_list' %}" data-translate="filter">Filter</a></li>
        <li class="category-transition-item">
            <a href="{% url 'main:statistics' %}"  data-translate="view_statistics_btn">
                    View Statistics
            </a>
        </li>
    </ul>
    
{% endblock %}