{% extends "base.html" %}
    <title>{% block title %}Profile {% endblock %} </title>

{% block content %}
    <div  class="card-profile">
        <img src="{{user.image.url}}" alt="Your image" height="100px">
        <h2><span data-translate="username">Username</span>: {{user.username}}</h2>
        <h3><span data-translate="email">Email</span>: {{ user.email }}</h3>
        <h3><span data-translate="firstname">First Name</span>: {{ user.first_name }}</h3>
        <h3><span data-translate="lastname">Last Name</span>: {{ user.last_name }}</h3>
        <button>
            <a href="{% url 'users:edit_profile' %}" data-translate="editprofile">Edit Profile</a>
        </button>
    </div>

{% endblock content %}